.parent{
  height: 800px;
  width: 200%;
}

.cherche{
  margin-top:32px ;
  margin-right: 20px;
}
.table{
  width: 100%;
 }
 .table thead{
  width: 100%;
  background-color: gray;
  color: white;
 }
.annee{
  width:100px;
}
.montant{
  width:150px;
}
.recherche{
  background-color: gray;
  color: white;
  margin-top: 30px;
}
.head{
  margin: auto 3%;
}

.recherche{
  margin-top:26px ;
  margin-right: 20px;
}
