<div class="container-fluid ">
  <div class="row head mt-4  " >
    <div class="col-md-3 ">
      <label for="refBudget">Reference Budget</label>
      <input type="text"  class="form-control" id="refBudget" [(ngModel)]="this.refBudget" >
    </div>
    <div class="col-md-3">
      <label for="refDepartement">Reference Departement</label>
      <input type="text"  class="form-control " id="refDepartement" [(ngModel)]="this.refDepartement"  >
    </div>
    <div class="col-md-2">
      <button class="btn  recherche" (click)="recherche()">recherche</button>
    </div>
  </div>
  <div class="row  mt-5  justify-content-center">
    <div class="col-md-12">
    <table class="table">
      <thead class="">
      <tr>
        <th scope="col">Reference </th>
        <th scope="col">Reference Budget</th>
        <th scope="col">Montant Investisement</th>
        <th scope="col">Montant Fonctionement</th>
        <th scope="col">Montant Total</th>
        <th scope="col">Reference Departement</th>
        <th scope="col">operation</th>
      </tr>
      </thead>
      <tbody *ngFor="let budgDep of this.budgetdepartements">
      <tr>
        <td>{{budgDep.reference}}</td>
        <td>{{budgDep.refBudget}}</td>
        <td>{{budgDep.montantInvestisement}}</td>
        <td>{{budgDep.montantFonctionement}}</td>
        <td>{{budgDep.montantTotal}}</td>
        <td>{{budgDep.refDepartement}}</td>
        <td>
          <button  class="btn btn-danger mx-1" (click)="delete(budgDep)"> <i class="fa fa-trash " ></i></button>
          <button  class="btn btn-info mx-1 " (click)="openDialog(budgDep)"> <i class="fa fa-edit " > </i></button>
        </td>
      </tr>
      </tbody>
    </table>
</div>
</div>
</div>
