<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12 menu">
      <ul class="justify-content-center">
        <li><a routerLink="">Accueil</a></li>
        <li><a routerLink="budget">Budget</a></li>
        <li><a routerLink="budgetdepartement">Budget Departement</a></li>
        <li><a routerLink="budgetdepartementcomptecompteble">B. D. Compte Cmptable</a></li>
        <li><a routerLink="departement">Departement</a></li>
      </ul>
    </div>
</div>
</div>
