<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li><a routerLink="">Accueil</a></li>
        <li><a routerLink="accueil">Budget</a></li>
        <li><a routerLink="budgetdepartement">Budget Departement</a></li>
        <li><a routerLink="budgetdepartementcomptecompteble">B. D. Compte Cmptable</a></li>
        <li><a routerLink="">Budget Compte Compteble</a></li>
        <li><a routerLink="comptecomptable">Compte Comptable</a></li>
        <li><a routerLink="">Departement</a></li>
      </ul>
    </div>
</div>
</div>
