<div class="container-fluid">
  <div class="row my-3 ml-1">
    <h2>Gerer les comptes comtables des Budget Departement:</h2>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <label for="ref" >Ref CompteComptable</label>
      <input type="text" class="form-control montant" id="ref" name="ref" [(ngModel)]="compteComptable.refCompteComptable" >
    </div>
    <div class="col-md-3">
      <label for="montantInv2" >Montant</label>
      <input type="number" class="form-control montant" id="montantInv2" name="montantInv2" [(ngModel)]="compteComptable.montant" >
    </div>
    <div class="col-md-3">
      <label for="montantInv2" >Ref Budget Departement</label>
      <input type="text" class="form-control montant" id="refB" name="refB" [(ngModel)]="this.budgetdepartementcomptecomptable.refBudgetDepartement" >
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-2">
      <button class=" btn " (click)="save()">sauvegarder</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Montant</th>
          <th scope="col">RefBudgetDepartement</th>
          <th scope="col">RefCompteComptable</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let b of this.budgetdepartementcomptecomptables">
          <td>{{b.montant}}</td>
          <td>{{b.refBudgetDepartement}}</td>
          <td>{{b.refComptable}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
</div>
</div>
